<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="itms-services://?action=download-manifest&url=https://<%= login %>:<%= password %>@HOST-HERE/build/manifest.plist">Install App</a> <br>

  </body>
</html>
